"*":
  core:
    allowPendingPaneItems: false
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
    titleBar: "custom-inset"
  editor:
    fontFamily: "Fira Code"
    preferredLineLength: 100
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "4300063f-71da-4ce1-8dc5-049a17560ce3"
  minimap:
    adjustMinimapWidthOnlyIfSmaller: false
    adjustMinimapWidthToSoftWrap: false
    charHeight: 3
    createPluginInDevMode: true
    displayPluginsControls: false
    ignoreWhitespacesInTokens: true
    minimapScrollIndicator: false
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
    smoothScrolling: false
    textOpacity: 0.2
  "project-manager":
    prettifyTitle: false
  typewriter:
    enabledForAllScopes: true
  welcome:
    showOnStartup: false
