[
  {
    title: "artifact"
    paths: [
      "/Users/shant/Workspace/projects/artifact"
    ]
  }
  {
    title: "periodic"
    paths: [
      "/Users/shant/Workspace/projects/periodic"
    ]
  }
]
