<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>08E1B1E4-92AE-49C8-A30E-93F7B2A7A415</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85291720-CA90-44D4-91B2-55375C18D203</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23739818-9A93-4CB7-9042-B8356E9982B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F41FE2FB-3172-459C-8CD7-2B406532934E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4370299F-B452-4897-875D-DF9B03E4718C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D034232-8AB2-42C6-BD38-1DF767A36C8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>608D8F87-19FF-4283-9573-BC2483AD438A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4370299F-B452-4897-875D-DF9B03E4718C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71F4FB9C-9A9B-4035-A36D-C4D66F9EC176</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F41FE2FB-3172-459C-8CD7-2B406532934E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72C0A93B-CDD7-4137-BB71-B47C4352851E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>820A9184-4960-489C-ADA7-4B263C87786A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>820A9184-4960-489C-ADA7-4B263C87786A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08E1B1E4-92AE-49C8-A30E-93F7B2A7A415</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85291720-CA90-44D4-91B2-55375C18D203</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D21CC823-7589-4C34-B079-0CACEF8C8CDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9BA81736-1357-40EB-B46E-B41FC69844EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>820A9184-4960-489C-ADA7-4B263C87786A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D034232-8AB2-42C6-BD38-1DF767A36C8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2CD2E9F-675E-4A58-9F2C-25F0765C3ECB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2CD2E9F-675E-4A58-9F2C-25F0765C3ECB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D21CC823-7589-4C34-B079-0CACEF8C8CDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F41FE2FB-3172-459C-8CD7-2B406532934E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D034232-8AB2-42C6-BD38-1DF767A36C8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB0B0519-81FB-4B49-83BF-A05088013E30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4370299F-B452-4897-875D-DF9B03E4718C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OCR Screenshot</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>608D8F87-19FF-4283-9573-BC2483AD438A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>language</key>
					<string>eng</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4370299F-B452-4897-875D-DF9B03E4718C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ocren</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>OCR Screenshot to English</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FB0B0519-81FB-4B49-83BF-A05088013E30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>71F4FB9C-9A9B-4035-A36D-C4D66F9EC176</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Capture screen interatively.
/usr/sbin/screencapture -i temp-screenshot.png

# Runs OCR on captured bitmap.
/usr/local/bin/tesseract -l ${language} temp-screenshot.png temp-ocr &gt; /dev/null 2&gt;&amp;1

# Store OCR text.
OCR=$(&lt;temp-ocr.txt)

# Remove temp files.
rm temp-ocr.txt temp-screenshot.png

# Pass OCR text
echo "$OCR"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D034232-8AB2-42C6-BD38-1DF767A36C8B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string># -*- coding: utf-8 -*-

import re
import sys

query = sys.argv[1]

# Normalize whitespace.
# query = " ".join(query.split())

# Clean characters.
query = re.sub("‘", "'", query)

# Remove extra linebreaks.
query = re.sub("\n{2,}", "\n", query)
query = re.sub("\n+$", "", query)

print(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E2CD2E9F-675E-4A58-9F2C-25F0765C3ECB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>language</key>
					<string>fra+eng</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F41FE2FB-3172-459C-8CD7-2B406532934E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ocrfr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>OCR Screenshot to French</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>23739818-9A93-4CB7-9042-B8356E9982B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D21CC823-7589-4C34-B079-0CACEF8C8CDF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Capture screen interatively.
/usr/sbin/screencapture -i temp-screenshot.png

# Runs OCR on captured bitmap.
/usr/local/bin/tesseract -l ${language} temp-screenshot.png temp-ocr &gt; /dev/null 2&gt;&amp;1

# Store OCR text.
OCR=$(&lt;temp-ocr.txt)

# Remove temp files.
rm temp-ocr.txt temp-screenshot.png

# Pass OCR text
echo "$OCR"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>08E1B1E4-92AE-49C8-A30E-93F7B2A7A415</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string># -*- coding: utf-8 -*-

import re
import sys

query = sys.argv[1]

# Remove spaces.
query = re.sub(" ", "", query)

# Remove extra linebreaks.
query = re.sub("\n{2,}", "\n", query)
query = re.sub("\n+$", "", query)

print(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>85291720-CA90-44D4-91B2-55375C18D203</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9BA81736-1357-40EB-B46E-B41FC69844EB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>language</key>
					<string>jpn</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>820A9184-4960-489C-ADA7-4B263C87786A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ocrjp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>OCR Screenshot to Japanese</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>72C0A93B-CDD7-4137-BB71-B47C4352851E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>08E1B1E4-92AE-49C8-A30E-93F7B2A7A415</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>23739818-9A93-4CB7-9042-B8356E9982B5</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>4370299F-B452-4897-875D-DF9B03E4718C</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>608D8F87-19FF-4283-9573-BC2483AD438A</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>71F4FB9C-9A9B-4035-A36D-C4D66F9EC176</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>72C0A93B-CDD7-4137-BB71-B47C4352851E</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>820A9184-4960-489C-ADA7-4B263C87786A</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>85291720-CA90-44D4-91B2-55375C18D203</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>9BA81736-1357-40EB-B46E-B41FC69844EB</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>9D034232-8AB2-42C6-BD38-1DF767A36C8B</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>D21CC823-7589-4C34-B079-0CACEF8C8CDF</key>
		<dict>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>E2CD2E9F-675E-4A58-9F2C-25F0765C3ECB</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>F41FE2FB-3172-459C-8CD7-2B406532934E</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>FB0B0519-81FB-4B49-83BF-A05088013E30</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
