# Navigation
alias ls="exa"
alias ll="exa -lah"
alias k="cd $HOME/Desktop; ls -lah;"
alias l="cd $HOME/Downloads; ls -lah;"
alias w="cd $HOME/Workspace; ls -lah;"
alias p="cd $HOME/Workspace/projects; ls -lah;"
alias r="cd $HOME/Workspace/repos; ls -lah;"

# Homebrew
alias brewski="brew update && brew upgrade && brew cleanup; brew doctor"

# git
alias gs="git status"

# dotfiles
alias dotfiles="cd $HOME/.dotfiles && code ."

# bup
export PYTHONPATH=$HOME/.dotfiles/bup/src:$PYTHONPATH
alias bup="python -m bup"

# readstor
READSTOR_ROOT="$HOME/Workspace/repos/wiki/readstor"
alias rdump=" \
    echo 'Dumping Apple Books' \
    && readstor export --output $READSTOR_ROOT \
    && readstor render --output $READSTOR_ROOT \
    && readstor backup --output $READSTOR_ROOT"


# skhd
# https://github.com/koekeishiya/skhd
alias skhd-reload="skhd -r"

# yabai
# https://github.com/koekeishiya/yabai
alias yabai-reload="launchctl kickstart -k 'gui/${UID}/homebrew.mxcl.yabai'"
alias yabai-logs="tail -f $(brew --prefix)/var/log/yabai/yabai.err.log"

# wiki
alias wiki="cd $HOME/Workspace/repos/wiki && code ."
alias piki="cd $HOME/Workspace/repos/wiki-public && code ."